<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fortnite</title>
<link href="static/styles.css" rel="stylesheet"/>
</head>
<body>
    <div id = c>
  <div id = topbar>
    <div id = spacer1>
      <b1> </b1>
    </div>
    <img id = logo src="https://cdn.discordapp.com/attachments/803663331617275944/1337185732606951444/logo.png?ex=67a686c2&is=67a53542&hm=09748963d84ecde0344b40c45aa7a49172603cca61d0fbf9e34814317b266950&" width = 207.4 height = 97.8/>
    <b1>
      Product
    </b1>
    <b1>
      Solutions
    </b1>
    <b1>
      Resources
    </b1>
    <b1>
      Open Source
    </b1>
    <b1>
      Enterprise
    </b1>
    <b1>
      Pricing
    </b1>
    <div id = spacer2>
      <b1> </b1>
    </div>
    <b1>
      Sign in          Sign up
    </b1>
  </div>
  </div>
</body>
</html>